@import '../../../../../styles/colors.scss';

#hoverItem {
    color: red;
    cursor: pointer;
}

.container {
    color: $main-text-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 740px;

    span {
        display: inline-block;
        text-align: center;
    }
}

.menuItem {
    &:hover {
        @extend #hoverItem;
    };
}

.separator {
    height: 20px;
}

.submenuWrapper {
    position: absolute;
    top: 52px;
    background-image: url('/images/background.png');
    z-index: $z-index-menu;
}

.submenu {
    color: $main-text-color;
    border-left: 1px solid $main-text-color;
    padding-left: 10px;
    margin-left: 10px;
}

.submenuDisplay {
    display: block;
}

.submenuNodisplay {
    display: none;
}

.submenuItem {
    padding-bottom: 12px;

    &:hover {
        @extend #hoverItem;
    };
}