@import '../../styles/colors.scss';

.container {
    margin-top: 42px;
    margin-bottom: 32px;
    color: $main-text-color;
}

.title {
    font-size: 32px;
    text-decoration: underline;
    padding-bottom: 32px;
    text-align: center;
}

.teamContainer {
    display: grid;
    row-gap: 40px;

    @media ( min-width: 576px ) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media ( min-width: 992px ) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.memberContainer {
    display: flex;
    flex-direction: column;
}

.image {
    background-color: $user-placeholder-background;
    width: 270px;
    height: auto;
    align-self: center;
}

.caption {
    width: 270px;
    margin-top: 8px;
    text-align: center;
    align-self: center;
}
