@import '../../styles/colors.scss';

.container {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    min-height: 50px;
    border-radius: 10px;

    @media (min-width: 1200px) {
        min-height: 40px;
    }

    &:focus {
        outline: none;
    }
}

.red {
    @extend .container;
    color: $main-red-color;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $main-red-color;

    &:hover {
        background-color: $main-red-color;
        color: white;
    }
}

.white {
    @extend .container;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;

    &:hover {
        color: $main-red-color;
        background-color: white;
    }
}

.white-red {
    @extend .container;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;

    &:hover {
        color: white;
        background-color: $main-red-color;
    }
}

.black-red {
    @extend .container;
    color: $main-text-color;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $main-text-color;

    &:hover {
        background-color: $main-red-color;
    }
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.block {
    width: 100%;
}

.bigButton {
    height: 60px;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
}
