@import '../../../../../styles/colors.scss';

#hoverItem {
    color: red;
    cursor: pointer;
}

.container {
    color: $main-text-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;

    span {
        display: inline-block;
        text-align: center;
    }
}

.burger {
    width: 40px;
    height: 40px;
}
.burger:hover g path {
    fill: red;
}

.menuOpen {
    display: block;
}

.menuClosed {
    display: none;
}

.verticalMenu {
    position: absolute;
    top: 60px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid $main-text-color;
    background-image: url('/images/background.png');
    z-index: $z-index-menu;
}

.menuItem {
    margin-bottom: 12px;

    &:hover {
        @extend #hoverItem;
    }
}

.menuItemSelected {
    @extend #hoverItem;
    border-bottom: 1px solid $main-text-color;
    margin-bottom: 11px;
}

.submenuWrapper {
    position: absolute;
    right: 130px;
    background-image: url('/images/background.png');
    z-index: $z-index-menu;
}

.submenu {
    color: $main-text-color;
    border: 1px solid $main-text-color;
    padding: 10px;
    margin: 10px;
}

.submenuItem {
    padding-bottom: 12px;

    &:hover {
        @extend #hoverItem;
    }
}