@import '../../../../styles/colors.scss';

.container {
    padding-top: 12px;
    color: $main-text-color
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 22px;
}

.howToHelp {
    display: flex;
    flex-direction: column;
    align-items: center;

    & svg {
        width: 64px;
        height: auto;
        fill: $main-red-color
    }

    @media ( min-width: 768px ) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: border 0.2s;

    &:hover {
        border: 2px solid $main-red-color;
    }

    @media ( min-width: 768px ) {
        margin-bottom: 0;
    }
}

.itemText {
    margin-top: 32px;
    font-size: 20px;
    text-align: center;
    padding-right: 12px;
    padding-left: 12px;
}