@import '../../../../styles/colors.scss';

.title {
    color: $main-text-color;
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 24px;
    text-align: center;

    @media ( min-width: 992px ) {
        //text-align: left;
    }
}

.allAnimals {
    display: flex;
    //justify-content: space-evenly;
    justify-content: space-around;
    margin-top: 4px;
    margin-bottom: 40px;

    & svg {
        width: 56px;
        height: 56px;
    }
    & svg path {
        fill: $main-red-color;
    }

    @media ( min-width: 576px ) {
        & svg {
            width: 72px;
            height: 72px;
        }
    }

    @media (min-width: 992px) {
        margin-bottom: 12px;
    }
}

.animalsData {
    display: flex;
    flex-direction: row;
    align-items: center;
    //width: 60px;
}

.animalAmount {
    font-size: 30px;
    font-weight: bold;
    color: $main-text-color;
    padding-left: 8px;

    @media ( min-width: 576px ) {
        font-size: 36px;
    }
}