@import '../../styles/colors.scss';

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImage {
    width: 64px;
    height: 64px;
}

.logoText {
    color: $main-text-color;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    max-width: 210px;

    @media ( min-width: 576px ) {
        font-size: 20px;
        max-width: 280px;
    }
}
