@import '../../../../styles/colors.scss';

.container {
    padding-top: 12px;
    color: $main-text-color
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 22px;
}

.ourFriends {
    display: flex;
    flex-direction: column;
    align-items: center;


    @media ( min-width: 768px ) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.item {
    margin-bottom: 22px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0);

    @media ( min-width: 768px ) {
        margin-bottom: 0;
    }
}

.itemImage {
    width: 320px;
}