@import '../../styles/colors.scss';

.container {
    background-color: $main-red-color;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 14px;

    @media (min-width: 576px) {
        flex-direction: row;
        height: 115px;
    }

    @media (min-width: 1200px) {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.about {
    display: list-item;
    height: auto;
    list-style: none;
    text-align: center;

    @media ( min-width: 576px ) {
        max-width: 260px;
        list-style: disc;
        list-style-position: outside;
    }
}

.social {
    display: flex;
    align-items: center;
}

.socialIcon {
    width: 24px;
    height: auto;
    display: inline-block;
}

.socialIcon path {
    fill: white;
}

.socialText {
    display: inline-block;
}

.mobileMargins {
    margin-top: 10px;
    margin-bottom: 10px;
}