@import '../../styles/colors.scss';

.container {
    padding-top: 38px;
}

.section1 {

    @media ( min-width: 992px) {
        display: flex;
    }
}

.section1SliderContainer {
    width: 100%;

    @media ( min-width: 992px ) {
        width: 50%;
    }
}

.section1RightSide {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 32px;

    @media ( min-width: 576px ) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media ( min-width: 992px ) {
        width: 50%;
        margin-left: 32px;
        margin-top: inherit;
    }
}

.section1RightSideTitle {
    color: $main-red-color;
    margin-top: 12px;
    padding-bottom: 7px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid;

    @media ( min-width: 576px ) {
        font-size: 34px;
    }
}

.section1SubTitle {
    color: $main-text-color;
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 24px;
    text-align: center;

    @media ( min-width: 992px ) {
        //text-align: left;
    }
}

.section1AllAnimals {
    display: flex;
    //justify-content: space-evenly;
    justify-content: space-around;
    margin-top: 4px;
    margin-bottom: 40px;

    & svg {
        width: 56px;
        height: 56px;
    }
    & svg path {
        fill: $main-red-color;
    }

    @media ( min-width: 576px ) {
        & svg {
            width: 72px;
            height: 72px;
        }
    }

    @media (min-width: 992px) {
        margin-bottom: 12px;
    }
}

.section1AnimalsData {
    display: flex;
    flex-direction: row;
    align-items: center;
    //width: 60px;
}

.section1AnimalAmount {
    font-size: 30px;
    font-weight: bold;
    color: $main-text-color;
    padding-left: 8px;

    @media ( min-width: 576px ) {
        font-size: 36px;
    }
}

.section2 {
    margin-top: 38px;

    @media ( min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-top: 66px;
    }
}

.leftSide {
    width: 100%;
    border-bottom: 4px dotted $main-red-color;
    padding-bottom: 32px;
    
    @media ( min-width: 768px ) {
        width: 50%;
        //border-right: 4px dotted $main-red-color;
        border-bottom: none;
        padding-right: 60px;
    }
}

.rightSide {
    width: 100%;
    margin-top: 32px;

    @media ( min-width: 768px ) {
        width: 50%;
        margin-top: 0;
        padding-left: 100px;
        position: relative;
        transform: translateY(25%);
    }
}

.section3 {
    margin-top: 32px;
}

.redBorder {
    height: 120px;
    border: 4px dotted $main-red-color;
}

.section4 {
    margin-bottom: 40px;
}

.section5 {
    margin-bottom: 40px;
}