@import '../../../../styles/colors.scss';

.container {
    //background-color: $secondary-red-color;
    border: 4px dotted $main-red-color;
    border-radius: 30px;
    padding: 42px;
    margin-bottom: 42px;
    text-align: center;

    @media ( min-width: 992px ) {
        display: flex;
        text-align: left;
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: 20px;

    @media ( min-width: 576px ) {
        width: 60%;
    }
    
    @media ( min-width: 992px ) {
        width: 40%;
    }
}

.info {
    color: $main-text-color;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;

    @media ( min-width: 992px ) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 42px;
        margin-bottom: 32px;
        max-width: 55%;
    }
}

.quote {
    font: italic normal 32px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    & > span {
        color: $main-red-color;
    }
}

.nickname {
    margin-top: 10px;
    font-size: 20px;
}

.description {
    margin-top: 10px;
    margin-bottom: 22px;
    font-size: 16px;

    @media ( min-width: 992px ) {
        
    }
}