.swiperContainer {

}

.swiperBackgroundWhite {
    background-color: white;
}

.slideContainer {
    display: flex;
}

.slideImage {
    width: 100%;
    height: auto;
}

.slideText {
    align-self: center;
}

.paginationContainer {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.paginationDots {
    position: absolute;
    display: flex;
    bottom: 15px;
}

.paginationBullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255,0,0,0.2);
    background-color: rgba(0,0,0,0);
    margin-right: 10px;
    cursor: pointer;
}

.paginationBulletActive {
    border: 2px solid rgba(255,0,0,1);
}

.height160 {
    height: 160px;
}