@import '../../../../styles//colors.scss';

.container {
    display: flex;
    margin-bottom: 20px;
}

.image {
    border-radius: 50%;
}

.textContainer {
    margin-left: 36px;
}

.title {
    display: list-item;
    list-style-type: disc;
    font-size: 20px;
    color: $main-red-color;
    margin-bottom: 18px;
}

.description {
    
}